{% extends '::base.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/backend/css/bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block metasbase %}
    <title>Company :: Backend</title>
    <meta name="author" content="Antonio de Lucas">
    <meta charset="utf-8">

    {# Favicons #}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    
{% endblock %}

{% block javascripts %}
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	{# jquery, plugins y librerías #}
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/jquery-1.8.3.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/jquery.cookie.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/jquery.json.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/bootstrap.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/bootbox.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/jquery.validate.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('bundles/backend/js/ui.datepicker-es.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="page-header">
          <h1>Company <small>Backend</small></h1>
        </div>
        
        {% block menu %}{% endblock %}
    </div>

    <!-- body container -->
    <div class="container">
        <div class="row">
            {% block contenido %}{% endblock %}
        </div>
    </div>

{% endblock %}